*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
p { font-size: 20px;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


html {
    scroll-behavior: smooth;
  }

  body{
      display: flex;
      justify-content: center;
  }
  .slider-container {
      position: relative;
      margin-top: 3rem; 
      width: 75vw;
      height: 75vh;
      background-color: black;
     }
     .slide-radio {
        display: none;
     }

    #slides { 
        position: absolute;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 85%; 
        height: 85%; 
        margin: 0 auto;
        left:50%;
        top: 1.5rem;
        transform:translate(-50%,0);
    }

    .slide{
        min-width: 100%;
        height: 100%;
        transition: transform 0.5s;
    }    
    #cat1 {
        background-image: url(../img/cat1.jpg);   
        background-size: 100%;   
        background-position: center;
        background-repeat: no-repeat;
    }
    #cat2 {
        background-image: url(../img/cat2.jpg);      
        background-size: 100%;   
        background-position: center;
        background-repeat: no-repeat;    }
    #cat3 {
        background-image: url(../img/cat3.jpg);      
        background-size: 100%;   
        background-position: center;
        background-repeat: no-repeat;    }
    #cat4 {
        background-image: url(../img/cat4.jpg);      
        background-size: 100%;   
        background-position: center;
        background-repeat: no-repeat;    }

    #slider-footer{
        display: flex;
        justify-content: space-between;  
        position: absolute;
        width: 85%;
        height: 10%; 
        margin: 0 auto;
        left: 50%;
        transform:translate(-50%,0);
        bottom: 0;
        align-items: center;
    }
    .switchers{
        display: flex;
        width: 10%;
        height: 80%;       
        justify-content: space-between;
        align-items: center;

    }

    .switcher { 
        background: #12b3c8;
        width: 1rem; 
        height: 1rem;
        display: inline-block; 
        border-radius: 50%; 
        border: 2px solid #12b3c8;
        cursor: pointer; 
    }
    .switcher:hover{
        border: 2px solid #fff;
        background-color: #fff;
    }
    
    #div1:checked ~ #slides > .slide {
        transform: translateX(0);
      }
      #div2:checked ~ #slides > .slide {
        transform: translateX(-100%);
      }
      #div3:checked ~ #slides > .slide{
        transform: translateX(-200%);
      }
      #div4:checked ~ #slides > .slide {
        transform: translateX(-300%);
      }

    #div1:checked ~ div #switcher1, #div2:checked ~ div #switcher2, #div3:checked ~ div #switcher3, #div4:checked ~ div #switcher4 { 
        background: #000;
    }

    #div1:checked ~ div #switcher1:hover, #div2:checked ~ div #switcher2:hover, #div3:checked ~ div #switcher3:hover, #div4:checked ~ div #switcher4:hover { 
        border: 2px solid #fff;
    }
 
    .mem-texts{
        display:none;
        color: #fff;
        opacity: 0; 
    }

      #div1:checked ~ #slider-footer > #first-cat, 
      #div2:checked ~ #slider-footer > #second-cat, 
      #div3:checked ~ #slider-footer > #third-cat, 
      #div4:checked ~ #slider-footer > #fourth-cat {  

        animation: move 0.5s linear 0s 1 forwards;
        display: block;
        opacity: 1; 
    }
         
    @keyframes move {
        0% { transform: translateX(100px); opacity: 0;}
        25% { transform: translateX(75px); opacity: 0.25; }
        50% { transform: translateX(50px); opacity: 0.5; }
        100% { transform: translateX(0px); opacity: 1; }
     }

     @media screen and (max-width: 330px){
        .slider-container {
           margin-top:0; 
           width: 100vw;
           height: 30vh;
           background-color: black;
          }
   
          #slides { 
           width: 90%; 
           height: 90%; 
           margin: 0 auto;
           left:50%;
           top: -2rem;
       }

       #slider-footer{
           justify-content: flex-start;  
           width: 90%;
           height: 20%; 
           flex-direction: column;
           bottom: 3rem;
           align-items: stretch;
       }

       .mem-text{
           order: 2;
       }

       .switchers{
           order:1;
           align-self: center;
           width: 20%;
           height: 80%;       
       }

       .switcher { 
           width: 0.7rem; 
           height: 0.7rem;
      }

      @keyframes move {
       0% { transform: translateX(1rem); opacity: 0;}
       25% { transform: translateX(0.8rem); opacity: 0.25; }
       50% { transform: translateX(0.3rem); opacity: 0.5; }
       100% { transform: translateX(0);opacity: 1; }
    }
   }     


